@media screen and (min-width: 769px){
	body{
		background-color: lightblue;
	}
	#main li{
		width: 25%;
		float: left;
	}
	#aside li{
		width: 100%;
	}
	#header{	
		z-index: 5;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
	}
	#menu{
		overflow: hidden;
		text-align: center;
		width: 80%;
		margin: 0 auto;
		height: 400px;
		position: relative;
	}
	#menu li{
		width: 16.666%;
		float: left;
	}
	#menu li .sub{
		display: none;
		width: 100%;
		/*position: absolute;
		top: 100px;
		width: 100%;
		z-index: 5;*/
	}
	#menu li .sub li{
		/*display: block;*/
		/*width: 20%;
		float: left;*/
		width: 100%;
	}
	#menu li:hover > .sub{
		display: block;
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
		z-index: 5;
	}
	#main{
		width: 70%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
	}
	#aside{	
		width: 30%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
	}
	#footer{
		height: 100px;
		clear: both;
	}
}