/*el corte de pantalla lo mete en 480px en vertical y 768 en horizontal*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div, li{
	padding: 10px;
}
body{
	color: #666;
}
li{
	list-style-type: none;
	background-color: #aaa;
	/*height: 90px;*/
	/*margin: 10px;*/
	border: solid 3px #fff;
}
a{
	display: block;
	text-decoration: none;
	/*background-color: indianred;*/
	color: black;
}
#header{
	background-color: rgba(255,255,255,0.8);
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/*#menu{
	background-color: transparent;
}*/
#menu li{
	/*height: 50px;*/
	/*margin: 10px;*/
	background-color: yellow;
}
#main{
	background-color: rgba(255,255,255,0.5);
	margin-top: 100px;
}
#aside{
	background-color: rgba(255,255,255,0.3);
	margin-top: 100px;
}
#footer{
	background-color: rgba(255,255,255,0.1);
}
@media screen and (max-width: 480px){
	body{
		background-color: tomato;
	}
	#header{
		
	}
	#main{
		
	}
	#aside{
		
	}
	#footer{
		height: 100px;
	}
}