@media screen and (min-width: 993px){
	/*.checked{
		display: none;
	}*/
}
@media screen and (max-width: 992px){
.checked{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		opacity: 0;
	}
	
	#burguer{
		background-color: white;
		width: 15px;
		height: 15px;
		margin-top: 15px;
		margin-right: 15px;
		padding-top: 0px;
		padding-right: 0px;
		float: right;
	}
	#burguer li{
		background-color: black;
		width: 15px;
		height: 1px;
		margin: 5px auto;
		border-radius: 15px;
	}
	#menu{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		transition: 1s;
		background-color: white;
		text-align: left;
		line-height: 50px;
		/*height: 90%;*/
		display: none;
	}
	#menu li .sub{
	position: relative;
}
	/*#menu{
		position: absolute;
		top: 50px;
		right: -100%;
		width: 100%;
		transition: 1s;
		background-color: white;
		text-align: left;
		line-height: 20px;
	}*/
	#menu > li{
		display: block;
		
	}
	#menu li .sub{
	position: relative;
	top: 10px;
}
	.sub > li:first-child {
    margin-top: 0px;
	}
	.modelos{
		margin-top: 0px;
		margin-bottom: 0px;
		top: 10px;
	}
	.personalizar{
		margin-top: 0px;
		top: 10px;
	}

	/*.checked:checked ~ #menu{
		right: 0;
		transition: 1s;
	}*/
	.icons{
		top: 15px;
		position: fixed;
		right: 60px;
	}
	/*.carretera:hover > .personalizar,.carretera:hover > .modelos,
	.modelos:hover, .personalizar:hover{
		display: none;
	}*/
	.modelos{
	position: relative;
	left:40px;
	font-family: "Roboto";
	font-size: 14px;
	line-height: 22px;
}
	/*#menu li .sub{
		top: 0;
	}*/
.personalizar{
	position: relative;
	left:40px;
	top: 10;
	width: 200px;
	font-family: "Roboto";
	font-size: 14px;
	line-height: 22px;
	margin-top: 10px;
}
	.modelos img{
		display: none;
	}
	.personalizar img{
		display: none;
	}
	.personalizar .orcapers:hover img,.personalizar .orcaaeropers:hover img,.personalizar .terrapers:hover img{
	display: none;
}
	.modelos .orca:hover img,.modelos .orcaaero:hover img,.modelos .avant:hover img,.modelos .terra:hover img{
	display: none;
}
	/*#menu li:hover > .sub{
		display: none;
	}*/
	.content {
    padding-top: 50px;
    padding-left: 10px;
    width: 100%;
    display: inline-block;
    float: left;
}
.cambiocolor {
    float: right;
    margin-top: -400px;
    margin-right: 15px;
    display: block;
}
.cambiocolor li {
    display: block;
    width: 20px;
    margin-bottom: 5px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}
	#product {
    display: block;
    width: 300px;
    margin: auto;
}
#compra{
	float: right;
	width: 100%;
	margin-top: 40px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

}

