/*768px de corte*/
@media screen and (min-width: 481px) and (max-width: 768px) {
	body{
		background-color: yellowgreen;
	}
	/*a partir de aquí más o menos empezaremos a trabajar el menú hamburguesa*/
	#header{
		height: 100px;
		width: 100%;
	}
	#header h1{
		width: 70%;
		float: right;
	}
	.checked{
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0;
	}
	#burguer{
		background-color: violet;
		width: 50px;
		height: 50px;
		padding-top: 7px;
	}
	#burguer li{
		background-color: white;
		width: 30px;
		height: 5px;
		margin: 5px auto;
		border-radius: 15px;
	}
	#menu{
		position: absolute;
		top: 50px;
		left: -30%;
		width: 30%;
		transition: 1s;
	}
	.checked:checked ~ #menu{
		left: 0;
		transition: 1s;
	}
	#main{
		overflow: hidden;
	}
	#main li{
		width: 50%;
		float: left;
	}
	#aside{
		overflow: hidden;
	}
	#footer{
		height: 100px;
	}
}