*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
}
#header{
	height: 10vh;
	background-color: #FFFFFF;
}
.instagram{
	height: 38px;
	margin: 5px;
}
.fa-paper-plane{
	font-size: 25px;
	color: black;
	float: right;
	margin: 10px 10px 0;
	
}
#aside{
	height: 15vh;
	background-color: lavender;
	overflow-x: scroll;
	scrollbar-width: none;
}
.bola{
	width: 50px;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	border: solid 1px #666;
	margin: 0 5px;
	display: inline-block;
}
#slider{
	background-color: white;
	height: 15vh;
	width: 600vh;
}
#main{
	width: 100%;
	background-color: pink;
	height: 65vh;
	overflow-x: scroll;
	scrollbar-width: none;
}
#main::-webkit-scrollbar , #aside::-webkit-scrollbar{
	display: none;
}
#footer{
	height: 10vh;
	background-color: #ddd;
}

